@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n3tt51');
  src:  url('fonts/icomoon.eot?n3tt51#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n3tt51') format('truetype'),
    url('fonts/icomoon.woff?n3tt51') format('woff'),
    url('fonts/icomoon.svg?n3tt51#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-sumoon:before {
  content: "\e943";
}
.icon-settings:before {
  content: "\e942";
}
.icon-fitImage:before {
  content: "\e941";
}
.icon-triangle:before {
  content: "\e940";
}
.icon-sendForwardLetter:before {
  content: "\e93f";
}
.icon-letterPreview:before {
  content: "\e93e";
}
.icon-verticalLine:before {
  content: "\e93d";
}
.icon-replay:before {
  content: "\e93c";
}
.icon-letterTrail:before {
  content: "\e93b";
}
.icon-arrowUp:before {
  content: "\e939";
}
.icon-close:before {
  content: "\e93a";
}
.icon-AnnouncementBoardChild:before {
  content: "\e937";
}
.icon-AnnouncementBoard:before {
  content: "\e938";
}
.icon-clearSearch:before {
  content: "\e936";
}
.icon-check:before {
  content: "\e935";
}
.icon-notRouted:before {
  content: "\e931";
}
.icon-report:before {
  content: "\e932";
}
.icon-closeLetter:before {
  content: "\e933";
}
.icon-print:before {
  content: "\e934";
}
.icon-InterCompanyTrace:before {
  content: "\e930";
}
.icon-closeFast:before {
  content: "\e92e";
}
.icon-threeDots:before {
  content: "\e92f";
}
.icon-filter:before {
  content: "\e92d";
}
.icon-enterpriseForm:before {
  content: "\e92c";
}
.icon-incommingFaxes:before {
  content: "\e929";
}
.icon-outgoingFaxes:before {
  content: "\e92a";
}
.icon-allFaxes:before {
  content: "\e92b";
}
.icon-nodeIconOpen:before {
  content: "\e927";
}
.icon-nodeIcon:before {
  content: "\e928";
}
.icon-incommingClosed:before {
  content: "\e900";
}
.icon-outgoingClosed:before {
  content: "\e901";
}
.icon-folder:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e903";
}
.icon-allFolders:before {
  content: "\e904";
}
.icon-outbox:before {
  content: "\e905";
}
.icon-inbox:before {
  content: "\e906";
}
.icon-drafts:before {
  content: "\e907";
}
.icon-dashbord:before {
  content: "\e908";
}
.icon-comment:before {
  content: "\e909";
}
.icon-telegram:before {
  content: "\e90a";
}
.icon-sms:before {
  content: "\e90b";
}
.icon-letterEdit:before {
  content: "\e90c";
}
.icon-addAttachment:before {
  content: "\e90d";
}
.icon-comboboxArrow:before {
  content: "\e90e";
}
.icon-allClosed:before {
  content: "\e90f";
}
.icon-allDraft:before {
  content: "\e910";
}
.icon-comboBoxButton:before {
  content: "\e911";
}
.icon-Deleted:before {
  content: "\e912";
}
.icon-error:before {
  content: "\e913";
}
.icon-ForwardLetter:before {
  content: "\e914";
}
.icon-rejectClose:before {
  content: "\e915";
}
.icon-removeFile:before {
  content: "\e916";
}
.icon-saveDraft:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-seeFile:before {
  content: "\e919";
}
.icon-SendLetterFast:before {
  content: "\e91a";
}
.icon-closedLetter:before {
  content: "\e91b";
}
.icon-copyLetter:before {
  content: "\e91c";
}
.icon-download:before {
  content: "\e91d";
}
.icon-downloadAll:before {
  content: "\e91e";
}
.icon-forwardedLetter:before {
  content: "\e91f";
}
.icon-letterDependencies:before {
  content: "\e920";
}
.icon-letterDependency:before {
  content: "\e921";
}
.icon-openLetter:before {
  content: "\e922";
}
.icon-securedLetter:before {
  content: "\e923";
}
.icon-notOpenLetter:before {
  content: "\e924";
}
.icon-cancel:before {
  content: "\e925";
}
.icon-send:before {
  content: "\e926";
}
