@import './colors.less';

.menu{
    background-color: @back-color1 !important;
    
}

.ui.dropdown .menu{
    border-radius: 0;
}
.ui.dropdown .menu>.item{
    color:@color-font;
}
.ui.dropdown .menu>.item:hover {
    background: @back-color5;
    color: @color-font;
    z-index: 13;
}



.menu-item{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.ui.search .prompt {
    border-radius: 5px !important;
    background-color: @back-color5;
    color: @color-font;
}

.ui.input.focus>input, .ui.input>input:focus {
    background: @back-color5;
    color: @color-font;
    border-color: transparent;
}

.ui.search>.results{
    right: 0 !important;
}

.ui.input>input{
    text-align: right !important;
}