@import './colors.less';

.menu{
    background-color: var(--NormalBackground) !important;
    
}

.ui.dropdown .menu{
    border-radius: 0;
}
.ui.dropdown .menu>.item{
    color:var(--TxtColor);
}
.ui.dropdown .menu>.item:hover {
    background: var(--SingleLetter);
    color: var(--TxtColor);
    z-index: 13;
}



.menu-item{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.ui.search .prompt {
    border-radius: 5px !important;
    background-color: var(--LineItem);
    color: var(--TxtColor);
}
.menu{
    background-color: var(--LineItem) !important;
}
.ui.pointing.dropdown>.menu:not(.hidden):after {
    background-color: var(--LineItem);
}
.ui.input.focus>input, .ui.input>input:focus {
    background: var(--LineItem);
    color: var(--TxtColor);
    border-color: transparent;
}

.ui.search>.results{
    right: 0 !important;
}

.ui.input>input{
    text-align: right !important;
}