
@import 'colors.less';

@font-face{
    font-family: 'BNazanin';
    src: url('../fonts/B-NAZANIN.TTF');
}
@font-face{
    font-family: 'Yekan';
    src: url('../fonts/Weblogma_Yekan.ttf');
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: @back-color3; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: @color-font; 
  }
  
 

*{
    direction: rtl;
    box-sizing: border-box;
    font-family: 'Yekan';
}

html,body{
    
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#app{

    background-color: @back-color1;
    height: 100%;
    overflow: hidden;
    
}


.container{
   // border-radius: 5px;
    color: @color-font;
    margin: 5px;
    padding: 5px;
}
.container1{
    .container;
    background-color: @back-color1;
}

.container2{
    .container;
    background-color: @back-color2;
}

.container3{
    .container;
    background-color: @back-color3;
}

.container4{
    .container;
    background-color: @back-color4;
}

.container5{
    .container;
    background-color: @back-color5;
}

.form-input{
    background-color: @back-color6;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: none;
    font-size: 12pt;
}

.form-button-primary{
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    color: @color-font;
    background-color: @color-primary;
    font-size: 12pt;
    &:hover{
        background-color: darken(@color-primary,10%);
    }
}
.form-label{
    color: @color-font;
    margin-right: 5px;
    font-size: 12pt;
}

.danger-label{
    color: @color-danger;
    text-align: center;
}

.symmetric-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.highlight{
    color: @color-primary;
}

.fixed-icon{
    font-size: xx-large;
}
.action-icon{
    font-size: xx-large;
    cursor: pointer;
    &:hover{
        color: @color-danger;
    }
}

.helper-icon-large{
    font-size: xxx-large;
    cursor: pointer;
    &:hover{
        color: @color-success;
    }
}

.selected-letter
{
    background-color: @back-color5 !important;
}