
@import 'colors.less';

@font-face{
    font-family: 'BNazanin';
    src: url('../fonts/B-NAZANIN.TTF');
}
@font-face{
    font-family: 'Yekan';
    src: url('../fonts/Weblogma_Yekan.ttf');
}

@font-face{
    font-family: 'IranSans';
    src: url('../fonts/IranSans/IRANSANS.TTF');
}

::-webkit-scrollbar {
    width: 5px !important;
  }
  
  ::-webkit-scrollbar-track {
    background: @back-color3 !important; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: @color-font !important; 
  }
  
 

*{
    direction: rtl;
    box-sizing: border-box;
    font-family: 'IranSans' !important;
    font-size: 10pt ;
}

html,body{
    
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#app{

    background-color: @back-color1;
    height: 100%;
    overflow: hidden;
    
}

input{
    outline: none;
}
input:focus{
    outline: none;
}

button{
    outline: none;
}

.container{
   // border-radius: 5px;
    color: @color-font;
    margin: 5px 5px 0 5px;
    padding: 5px;
}
.container1{
    .container;
    background-color: @back-color1;
}

.container2{
    .container;
    background-color: @back-color2;
}

.container3{
    .container;
    background-color: @back-color3;
}

.container4{
    .container;
    background-color: @back-color4;
}

.container5{
    .container;
    background-color: @back-color5;
}

.bg1{
    background-color: @back-color1;
}
.bg2{
    background-color: @back-color2;
}
.bg3{
    background-color: @back-color3;
}
.bg4{
    background-color: @back-color4;
}
.bg5{
    background-color: @back-color5;
}
.fc1{
    color: @color-font;
}
.chamfer{
    border-radius: 5px;
}
.form-input{
    background-color: @back-color6;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: none;
    font-size: 10pt;
}

.form-button-primary{
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    color: @color-font;
    background-color: @color-primary;
    font-size: 10pt;
    &:hover{
        background-color: darken(@color-primary,10%);
    }
}
.form-label{
    color: @color-font;
    margin-right: 5px;
    font-size: 10pt;
}

.danger-label{
    color: @color-danger;
    text-align: center;
}
.grid{
    width: 100%;
    display: flex;
}
.symmetric-grid{
    .grid;
    justify-content: space-between;
    align-items: center;
}
.startalign-grid{
    .grid;
    justify-content: flex-start;
}
.endalign-grid{
    .grid;
    justify-content: flex-end;
}
.single-column{
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
    // align-items: flex-start
}
.single-column>div{
    margin-bottom: 5px;
    flex:1;
    width: 100%;
}
.wrap-grid{
    .grid;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.highlight{
    color: @color-primary;
}

.fixed-icon{
    font-size: x-large;
    color: @color-icon;
}
.icon{
    cursor: pointer;
    color: @color-icon;
    vertical-align: middle;
}
.icon:hover{
    color: inherit;
}
.action-icon{
    font-size: xx-large;
    .icon;
    &:hover{
        color: @color-danger;
    }
}
.action-button{
    cursor: pointer;
    color: @back-color1;
    vertical-align: middle;
    border-radius: 3px;
    padding-top: 2px;
}
.action-button:hover{
    color: @color-danger;
}
.button{
    cursor: pointer;
    &:hover{
        color: @color-danger;
    }
}
.helper-icon{
    .icon;
    &:hover{
        color: @color-success;
    }
}

.helper-icon-large{
    .helper-icon;
    font-size: xxx-large;
}
.helper-icon-medium{
    .helper-icon;
    font-size: xx-large;
}
.helper-icon-small{
    .helper-icon;
    font-size:small;
}


.selected-letter
{
    background-color: @back-color5 !important;
}

.xxsmall-text{
    font-size: xx-small;
}
.xsmall-text{
    font-size: x-small;
}
.small-text{
    font-size: small;
}
.medium-text{
    font-size: medium;
}
.larg-text{
    font-size: large;
}
.xlarg-text{
    font-size: x-large;
}
.dark-text{
    color: @color-icon;
}

.nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dialog-button{
    background-color: @back-color1;
    padding: 5px;
    border-radius: 3px;
    color: @color-font;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    flex:1;
}

.bottom-line{
    border-bottom: 2px solid @color-font;
    margin: 10px 5px;
}
// .relative-container{
//     position: relative;
// }

// .ver-center{
//     position: absolute;
//     margin: 0;
//     top: 50%;
// }